body {
    margin: 0;
    font-family: Fira Code, monospace;
    font-size: 100%;
    letter-spacing: -0.1em;
    background-color: #fefefe;
}

a {
    text-decoration: none;
    color: #aa33ff;
}

canvas {
    display: block;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    text-align: center;
    color: #222;
}

#pfp {
    box-shadow: 0px 0px 6em #888;
    border: 0.25em solid #eee;
    border-radius: 16em;
    width: 14em;
    height: 14em;
    margin: 0.5em;
}

img {
    margin: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

h1 {
    margin: 0;
    font-size: 4em;
}

h2 {
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 2px;
}

h3 {
    font-size: 1.3em;
    color: #aa33ff;
}

@keyframes fadeInUp {
    from {
        transform: translateX(-50%) translateY(calc(-50% - 0.5px)) translate3d(0, 40px, 0);
    }

    to {
        transform: translateX(-50%) translateY(calc(-50% - 0.5px)) translate3d(0, 0, 0);
        opacity: 1;
    }
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 2px solid #9988bb;
    margin: 0 0.3em 0.3em 0;
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #9988bb;
    text-align: center;
    transition: all 0.2s;
    margin-left: 8px;
    margin-right: 8px;
}

a.button1:hover {
    color: #ffffff;
    background-color: #9988bb;
}

@media all and (max-width: 30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}
