body {
    margin: 0
}

canvas {
    display: block;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fefefe;
}

#main {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 48px;
    opacity: 0;
    animation-name: fadeInUp;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    text-shadow: 0px 0px 2px #ddaaff;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    color: #9988bb;
}

#title {
    text-shadow: 0px 0px 8px #ddaaff;
    font-family: 'Vibur', sans-serif;
    font-size: 96px;
    height: 30px;
    color: #9988bb;
    margin-top: 0px;
    margin-bottom: 84px;
}

@keyframes fadeInUp {
    from {
        transform: translate(-50%, -50%) translate3d(0,40px,0)
    }

    to {
        transform: translate(-50%, -50%) translate3d(0,0,0);
        opacity: 1
    }
}

.pfp {
    width: 180px;
    height: 180px;
    border: 4px solid #eee;
    border-radius: 180px;
    box-shadow: 10px 10px 80px #555;
}

a {
    font-size: 0px;
}

img {
    margin-top: 18px;
    margin-left: 8px;
    margin-right: 8px;
    height: 32px;
    width: 32px;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 2px solid #9988bb;
    margin: 0 0.3em 0.3em 0;
    /* border-radius: 0.12em; */
    border-radius: 4px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #9988bb;
    text-align: center;
    transition: all 0.2s;
    margin-left: 8px;
    margin-right: 8px;
    font-weight: bold;
}

a.button1:hover {
    color: #ffffff;
    background-color: #9988bb;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}